use Mix.Config

# Replace nil with your key or set the appropriate env.
config :exstream_twitter, %{
  consumer_secret: nil || System.get_env("consumer_secret"),
  oauth_token_secret: nil || System.get_env("oauth_token_secret"),
  consumer_key: nil || System.get_env("consumer_key"),
  oauth_token: nil || System.get_env("oauth_token")
}
